.navigation ul {
  margin-top: -40px;
  text-align: center;
  max-width: 320px;
}
.navigation li {
  padding: 30px;
  display: inline;
  color: #ff6060;
  font-size: 24px;
}

.navigation {
  display: flex;
  flex-direction: row-reverse;
}

.header {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.logoheader {
  max-width: 240px;
  margin-top: 30px;
}

//Underline pour navbar actif.
.active {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  color: #ff6060;
}

@media only screen and (max-width: 555px) {
  .navigation li {
    padding: 10px;
  }
  .logoheader img {
    width: 150px;
  }
}

@media only screen and (max-width: 430px) {
  .navigation li {
    font-size: 15px;
    padding: 5px;
  }
  .navigation {
    margin-top: 10px;
  }
}
