.errormsg,
a {
  margin-top: 100px;
  text-align: center;
  color: #ff6060;
}

.errormsg h1 {
  font-weight: 700;
  font-size: 288px;
}

.errormsg h2 {
  font-size: 36px;
}

.errormsg h3 {
  margin-top: 150px;
  font-size: 18px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
