.info {
  color: #ff6060;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  max-width: 1240px;
}
.info h1 {
  font-size: 36px;
  max-width: 700px;
}
.info h2 {
  font-size: 18px;
  margin-top: 0px;
  max-width: 300px;
}
.host h3 {
  color: #ff6060;
  max-width: 100px;
  margin-top: -70px;
  margin-right: 80px;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  float: right;
}
.hostphoto img {
  object-fit: cover;
  max-width: 64px;
  max-height: 64px;
  border-radius: 40px;
  float: right;
  margin-top: -80px;
}

.emptystar {
  filter: grayscale(100%);
  opacity: 0.5;
}
.ratediv {
  display: flex;
  gap: 5px;
  float: right;
}
.tags {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  max-width: 1240px;
}
.tags li {
  display: inline;
  font-size: 14px;
  color: white;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.desc {
  display: flex;
  margin-top: 10px;
  gap: 60px;
  flex-direction: center;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.equipement {
  width: 100%;
}
.description {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .desc {
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
  }
  .host {
    margin-top: 140px;
    float: right;
  }
  .ratediv {
    margin-top: 80px;
    float: left;
  }

  .tags {
    margin-top: -125px;
  }
}

@media only screen and (max-width: 470px) {
  .info h1 {
    font-size: 25px;
  }
  .tags li {
    font-size: 7px;
  }
  .emptystar,
  .fullstar {
    width: 20px;
  }
  .hostphoto img {
    width: 50px;
  }
  .host h3 {
    margin-right: 60px;
  }
}
